src/main/resources/echo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.webservicesoap.org/echo"
           xmlns:tns="http://www.webservicesoap.org/echo"
           elementFormDefault="qualified">

    <xs:element name="getEchoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stringToEcho" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEchoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stringFromEcho" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>